@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 86%, rgba(0,0,0,1) 100%); */
}

#redes{
  position: fixed;
  height: 100vh;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4864320728291317) 100%);
  z-index: 70;
}

#x{
  background-color: #0F0;
  border-radius: 5px;
}

img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

#bg {
  background-color: black;
  width: 100%;
  height: 100%;
  /* align-items: center; */
  font-size: 5vw;
  position: fixed;
  z-index: 0;
}

#Matrix{
  max-width: 100vw;
  height: 100vh;
}

#services{
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 10px;
  font-family: jura;
  padding-top: 5%;
  color: #0F0;

}

.subsec{
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 30px;
}

#webtext, #etltext{
  display: flex;
  justify-content: flex-end;
}

#webimg, #etlimg{
  display: flex;
  justify-content: flex-start;
}

#dbimg{
  padding-left: 40%;
}

/* aki iban */

dotlottie-player {
  animation: fadeIn  7s ease;
  margin-right: 5%;
  overflow: hidden;
 } 

 @keyframes fadeIn {
  0% { 
    opacity: 0;
    filter: blur(20px);
  }
  
  10%{
    opacity: 1;
    filter: brightness(2px) blur(10px);
  }
 }

#about {
  font-size: 3.5vw;
  color: #0F0;
  font-family: jura;
  padding-right: 10%;
  padding-left: 10%;
  background-color: transparent;
}

#menu {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  position: fixed;
  z-index: 100;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.5214460784313726) 0%, rgba(0,0,0,0.9051995798319328) 59%);
}

.btn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gabo{
  width: 400px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  font-family: jura;
  font-size: clamp(2.5vw, 40px, 0.5vw);
  color: #0F0;
  margin-left: 10px;
} 

a{
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  font-family: jura;
  font-size: clamp(2.5vw, 40px, 0.5vw);
  color: #0F0;
}

a.selected{
  text-shadow: 0 0 5px #0F0,
               0 0 10px #0f0,
               0 0 40px #0f0,
               0 0 60px #0f0;
  text-decoration: underline;
}

a:hover{
  text-shadow: 0 0 5px #0F0,
               0 0 10px #0f0,
               0 0 40px #0f0,
               0 0 60px #0f0;
}

/* seccion de CONTACT */

#contact{
  height: 100vh;
  display: grid;
  align-items: end;
}

#boxform{
  background-color: rgba(0, 255, 0, 0.3);
  width: 60vh;
  max-height: 70vh;
  border-radius:  5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  color: white;
  font-size: 30px;
  font-family: jura;
  padding-top: 10px;
  padding-bottom: 10px;
}

form{
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100%;
  overflow: hidden;
}

label{
  display: flex;
  align-content: flex-end;
  width: 50px;
  height: 10%;
  font-size: 100;
  font-family: jura;
  margin-bottom: 4px;
  color: white;
}

input, textarea{
  padding: 10px 10px;
  background-color: black;
  border: 0;
  width: 100%;
  height: 30px;
  font-size: 100%;
  color: #0F0;
  margin-bottom: 5%;
  border-radius: 5px;  
}

textarea{
  height: 900px;
}

:focus{
  inline-size: 2px solid #0F0;
}

.submit{
  background-color: #0F0;
  height: 100px;
  color: black;
  font-family: jura;
  font-size: 20px;
  margin-top: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.submit:hover{
  color: #0F0;
  text-shadow: 0 0 5px #0F0,
               0 0 10px #0f0,
               0 0 40px #0f0,
               0 0 60px #0f0;
  background-color: rgb(2, 78, 2);
  /* outline: 0.1px solid #0F0; */
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
}

footer{
  position: relative;
  text-align: center; 
  font-size: 2.5vh;
  font-family: jura;
  color: #0F0;
}

@media (max-width: 700px) {

#redes{
  width: 25px;
  display: grid;
  align-content: center;
  gap: 40px;
  padding-left: 18px;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4864320728291317) 18%);
}
 
img{
  width: 20px;
  height: 20px;
}

#services {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100%; 
  padding-top: 10%;  
  justify-content: center;  
} 
.subsec{
  font-size: 25px;
  width: 100%;
}
  /* orden responsive seccion services */
#webtext { order: 2; }
#webimg { order: 1; display: flex; justify-content: center;}
#dbimg{ order: 3;}
#dbtext{ order: 4;}
#etltext{order: 6; display: flex; justify-content: center;}
#etlimg{order: 5; display: flex; justify-content: center;}

#dbimg{
  padding-left: 0%;
}

#delhuno, #boton{
  font-size: 10px;
}

#element{
  font-size: 9vw;
  align-content: start;
}
  
a{
  font-size: 3.5vw;
  padding-right: 15px;
}

#boxform{
  width: 90%;  
}

#contact{
  padding-left: 25px;
}

form{
  height: 500px;
}

textarea{
  height: 200px;
} 
#menu{
  height: 40px;
}

footer{
  font-size: 10px;
}

}


/* ESTILOS DE LA PAGINA DE MENSAJE ENVIADO */
#request{
  width: 100vw;
  height: 100vh;
  justify-items: center;
  background-color: rgb(10, 10, 10);
  color: #0F0;
  font-family: jura;
  font-size: 70hw;
}

#delhuno, #boton {
  /* background-color: red; */
  height: 15%;
  overflow: hidden;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#flygame{
  /* background-color: blue; */
  height: 70%;
  overflow: hidden;
  }  
  
#volver{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 5px 5px 10px rgba(231, 225, 225, 0.7);
}

#volver:hover{
  background-color: rgb(62, 52, 52);
  box-shadow: 3px 1px 10px rgba(189, 165, 165, 0.5);
}

